server:
  port: 8082

spring:
  application:
    name: restaurant
  data:
    mongodb:
      uri: mongodb://localhost:27017/restaurantdb
  redis:
    host: redis
    port: 6379
    
  web:
    resources:
        static-locations: classpath:/static/, file:uploads/
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
