<configuration>

  <springProperty name="SERVICE_NAME" source="spring.application.name"/>

  <!-- Console Appender (for local debugging) -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg traceId=%X{traceId}%n
      </pattern>
    </encoder>
  </appender>

  <!-- Logstash Appender (for ELK) -->
  <appender name="LOGSTASH"
    class="net.logstash.logback.appender.LogstashTcpSocketAppender">

    <destination>localhost:5044</destination>

    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>
        {
          "service":"${SERVICE_NAME}"
        }
      </customFields>
      <includeMdcKeyName>traceId</includeMdcKeyName>
    </encoder>

  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOGSTASH"/>
  </root>

</configuration>
